/* Basic layout styling */
aside, header, nav {
    display: block;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Container styling */
.container {
    max-width: 70%;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Header styling */
h1 {
    text-align: center;
    color: #4CAF50;
}

/* Control buttons and inputs */
.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.controls input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Matrix table container */
.matrix-table-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fafafa;
}

/* Matrix table styling */
.matrix-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed; 
}

.matrix-table td, .matrix-table th {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;

}

.render-area {
    max-width: 100%; /* Allow the area to use the full width of the container */
    overflow-x: auto; /* Enable horizontal scrolling */
    border: 1px solid #ddd; /* Optional: border around the render area */
    padding: 10px;
    white-space: nowrap; /* Prevent the content from wrapping to new lines */
}

#matrix-render {
    display: inline-block; /* Prevent the matrix from shrinking */
    width: auto; /* Ensure the matrix takes up as much width as it needs */
    min-width: 100%; /* Ensure the matrix render doesn't shrink below the container's width */
}


@media (max-width: 768px) {
    .controls {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        width: 100%;
    }

    .container {
        margin: 0;
    }

    .matrix-table-container {
        padding: 5px;
    }

    .matrix-table td, .matrix-table th {
        font-size: 12px;
    }
}
